/* ANCHOR Variables */
:root {
    --anim-dur: 0.9s;
    --width: 100vw;
    --half-width: calc(var(--width) / 2);
    font-size: 10px;
    --typedFontSize: calc(2vw + 5px);
    --bkg-color: rgb(24, 24, 24);
}

* {
    box-sizing: border-box;
    overflow: auto;
}

body {
    background-color: #131313;
    scrollbar-width: none;
    height: 100vh;
    width: var(--width);
    margin: auto;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px 50px 5px 50px;
    background-color: rgba(46, 46, 46, 0);
    color: rgb(129, 129, 129);
}

footer span {
    font-family: firaCode;
    font-weight: 300;
    font-size: 2em;
}

footer span a {
    text-decoration: none;
    color: hsl(204, 38%, 45%);
}

footer span a b {
    font-weight: 700;
}

footer span b {
    font-weight: 500;
}

#topbarWrapper {
    position: fixed;
    width: var(--width);
    height: auto;
    background-color: rgba(19, 19, 19, 0.788);


    /* border-width: 1px;
    border-color: rgb(79, 233, 92);
    border-style: solid; */
}

#topbarFlexWrapper {
    display: flex;
}

#wrapper {
    margin-bottom: 50px;
    /* border-width: 2px;
    border-color: rgb(180, 55, 55);
    border-style: solid; */
}

#navWrapper {
    align-self: center;
    position: absolute;
    right: 20px;

    /* border-width: 1px;
    border-color: rgb(144, 67, 231);
    border-style: solid; */
}

#logo {
    margin-left: 20px;
    height: auto;
    width: 50px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;


    /* border-width: 1px;
    border-color: rgb(197, 228, 255);
    border-style: solid; */
}

.navLinks {
    color: rgb(248, 248, 242);
    font-family: tiWeb;
    font-weight: 400;
    font-size: 23px;
    padding-left: 70px;
    text-decoration: none;
    margin-right: 3px;

    /* border-width: 1px;
    border-color: rgb(211, 75, 75);
    border-style: solid; */
}


/* ANCHOR typedjs */
.typed {
    color: white;
    font-family: firaCode;
    font-weight: 300;
    font-size: var(--typedFontSize);
    align-self: center;
}

.typed2 {
    color: white;
    font-family: tiWeb;
    font-weight: 300;
    font-size: var(--typedFontSize);
    align-self: center;
}

.typed-cursor {
    color: white;
    font-size: calc(var(--typedFontSize) + 6px);
    align-self: center;
}

#typedjsWrapper {
    display: flex;
    justify-content: center;
    height: calc(200px + 35vw);
    width: var(--width);
    background-image: url("../images/testimage.png");
    background-size: cover;
    background-repeat: no-repeat;

    /* border-width: 1px;
    border-color: rgb(150, 75, 211);
    border-style: solid; */
}

/* ANCHOR Body */

#bodyWrapper {
    margin-top: 60px;


    /* border-width: 1px;
    border-color: rgb(75, 211, 104);
    border-style: solid; */
}

#bodyFlexWrapper {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    border-width: 1px;
    border-color: rgb(75, 211, 104);
    border-style: solid;
}

#bodyFlexWrapper>.block {
    margin-top: 30px;
    padding: 10px;
    background-color: gray;


    border-width: 1px;
    border-color: rgb(255, 24, 24);
    border-style: solid;
}

#bodyFlexWrapper>.block>img {
    width: 90vw;
}

#bodyFlexWrapper>.block>div>span {
    font-size: 3em;
    font-weight: 300;
    font-family: tiWeb;
    color: white;
    margin-left: 5px;
}


.bodyHalfWrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
    flex-basis: 100%;
}


.bodyHalfWrapper>.blockHalf {
    margin-top: 30px;
    padding: 10px;
    background-color: gray;
    min-width: 200px;


    border-width: 1px;
    border-color: rgb(255, 24, 24);
    border-style: solid;
}

.bodyHalfWrapper>.blockHalf>img {
    width: 43vw;
    min-width: 200px;
    height: auto;
}

.bodyHalfWrapper>.blockHalf>div>span {
    font-size: 3em;
    font-weight: 300;
    font-family: tiWeb;
    color: white;
    margin-left: 5px;
}


@media screen and (max-width: 666px) {
    .bodyHalfWrapper>.blockHalf>img {
        width: 90vw;
    }

    .bodyHalfWrapper {
        flex-direction: column;
    }
}


/* ANCHOR 3D Art */
#artWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    gap: 6em;


    border-width: 1px;
    border-color: rgb(240, 91, 64);
    border-style: solid;
}

#artWrapper>.block {
    width: calc(27vw + 275px);
    height: auto;
    min-height: 100px;
    background-color: rgb(156, 156, 156);


    border-width: 1px;
    border-color: rgb(20, 255, 64);
    border-style: solid;
}

#artWrapper>.block>img {
    padding: 5px;
    width: 100%;
    height: auto;
}