* {
    box-sizing: border-box;
  }

@font-face {
  font-family: skyer;
  src: url(fonts/Skyer-Regular.woff);
}
/* skyer font */
@font-face {
  font-family: anurati;
  src: url(fonts/Anurati-Regular.woff);
}
/*anurati*/

.bar{
  position: fixed;
  z-index: 0;
  left: 0px; 
  margin-top: -10px; 
  width:100vw; 
  height: 202px; 
  background-color:#222222
}

.orangebar {
  position: fixed;
  z-index: 1;
  left: 0px;
  margin-top: 188px;
  height: 8px;
  width: 100vw;
  background-color: #fc6e00;
}

.homeicon {
  position: fixed;
  width: 624px;
  height: auto;
  z-index: 100;
  margin-top: 68px;
  margin-left: 58px;
}

.title {
  font-size: 55px;
  right: 20px;
  font-family: anurati;
  position: fixed;
  z-index: 1;
  margin-top: 50px;
  color: white;
  float: left;
}

.navbar {
  text-decoration: none;
  position: fixed;
  z-index: 1;
  font-size: 43px;
  font-family: skyer;
  margin-top: 130px;
  right: 20px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  position: fixed;
  right: -14px;
  padding-top: 100px;
  z-index: -10;
  opacity: 0;
}

@media screen and (max-width: 2179px) {
  .navbar {
    font-size: 40px;
    margin-top: 130px;
    transition: 0.5s;
  }
}

@media screen and (max-width: 2085px) {
  .navbar {
    font-size: 35px;
    margin-top: 140px;
    transition: 0.5s;
  }
}

@media screen and (max-width: 1941px) {
  .navbar {
    font-size: 37px;
    margin-top: 117px;
    transition: 0.5s;
  }
  .homeicon {
    width: 468px;
    height: 127px;
    margin-top: 100px;
    margin-top: 80px;
    transition: 0.5s;
  }
  .title {
    font-size: 45px;
    transition: 0.5s;
  }
  .bar {
    height: 192px;
    transition: 0.5s;
  }
  .orangebar {
    margin-top: 174px;
    transition: 0.5s;
  }
}

@media screen and (max-width: 1849px) {
  .navbar {
    font-size: 32px;
    margin-top: 127px;
    transition: 0.5s;
  }
}

@media screen and (max-width: 1849px) {
  .navbar {
    font-size: 29px;
    transition: 0.5s;
  }
}

@media screen and (max-width: 1593px) {
  #main {
    z-index: 10;
    opacity: 1;
    transition: 0.75s;
  }
  .navbar {
    opacity: 0;
    z-index: -10;
    transition: 0.5s;
  }
  .homeicon {
    width: 624px;
    height: auto;
    margin-top: 68px; 
  }
  .title {
    font-size: 38px;
  }
}


@media screen and (max-width: 835px) {
  .openbtn {
    width: 124px;
  }
  #main {
    padding-top: 64px;
  }
  .title {
    margin-top: 30px;
    font-size: 30px;
  }
  .homeicon {
    margin-top: 30px;
    margin-left: 30px;
    width: 455px;
    height: auto;
  }
  .orangebar {
    margin-top: 80px;
  }
  .bar {
    height: 102px;
  }
}

@media screen and (max-width: 671px) {
  .homeicon {
    width: 300px;
    height: auto;
  }
}

.githubicon {
    position: fixed;
    z-index: 2;
    margin-top: 15px;
    filter: invert(1);
    overflow: hidden;
    right: 15px;
}
  
@media screen and (max-width: 1180px) {
    .githubicon {
      opacity: 0;
      z-index: -10;
    }
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin-top: 144px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1200px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
}
  
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
}
  
.modaltext {
      font-size: 25px;
      color: #333333;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 100; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  z-index: 100;
}

/* The button used to open the sidebar */
.openbtn {
  cursor: pointer;
  padding: 15px 15px;
  z-index: 100;
  width: 150px;
  height: auto;
  border-radius: 20px;
}

.openbtn:hover {
  background-color: rgba(252, 110, 0, 0.5);
  transition: 0.5s;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}