/* PORTIONS OF CODE (SOME MODIFIED) ARE FROM W3SCHOOLS */
/* https://www.w3schools.com */

:root {
  --anim-dur: 0.9s;
}

* {
  box-sizing: border-box;
  overflow: auto;
}

body {
  transition: 0.5s;
}

/* FONTS */
@font-face {
  /* skyer font */
  font-family: skyer;
  src: url(fonts/Skyer-Regular.woff);
}

@font-face {
  /* oxygen-regular font */
  font-family: oxygen-regular;
  src: url(fonts/Oxygen/Oxygen-Regular.woff);
}

@font-face {
  /* oxygen-light font */
  font-family: oxygen-light;
  src: url(fonts/Oxygen/Oxygen-Light.woff);
}

@font-face {
  /* oxygen-bold font */
  font-family: oxygen-bold;
  src: url(fonts/Oxygen/Oxygen-Bold.woff);
}

@font-face {
  /* anurati */
  font-family: anurati;
  src: url(fonts/Anurati-Regular.woff);
}

@font-face {
  /* B612 Mono */
  font-family: B612-Mono;
  src: url(fonts/B612Mono-Regular.woff)
}

@font-face {
  /* Ubuntu Regular */
  font-family: Ubuntu-Regular;
  src: url(fonts/Ubuntu-Regular.woff)
}

@font-face {
  /* Source Serif Pro */
  font-family: Source-Serif-Pro;
  src: url(fonts/SourceSerifPro-Regular.woff)
}

@font-face {
  /* Open-Sans (APACHE LICENSE - NO CHANGES MADE) */
  font-family: Open-Sans;
  src: url(fonts/OpenSans-Regular.ttf)
}

/* FONTS */

.cookie-banner-class {
  animation: pulse;
  animation-duration: var(--anim-dur);
}

#top-right {
  color: white !important;
  position: absolute;
  top: 125px;
  margin-left: 50vw;
  padding-left: 10px;
  font-size: 1.75vw;
  text-align: left;
  overflow: hidden;
  z-index: 0;
  font-family: Skyer;
}

.showcaseimage {
  z-index: 0;
  padding-top: 124px;
  width: 50vw;
  height: auto;
}

.showcaseimage2 {
  z-index: 0;
  padding-top: 10px;
  width: 50vw;
  height: auto;
}

.bar {
  position: fixed;
  z-index: 0;
  left: 0px;
  margin-top: -10px;
  width: 100vw;
  height: 112px;
  background-color: #222222
}

.orangebar {
  position: fixed;
  z-index: 1;
  left: 0px;
  margin-top: 95px;
  height: 8px;
  width: 100vw;
  background-color: rgba(252, 110, 0, 1);
}

.homeicon {
  position: fixed;
  width: 624px;
  height: auto;
  z-index: 100;
  margin-top: 68px;
  margin-left: 58px;
}

.title {
  font-size: 50px;
  left: 35px;
  font-family: anurati;
  position: fixed;
  z-index: 1;
  margin-top: 20px;
  color: white;
  float: left;
  transition: 0.5s;
  animation: fadeInLeft;
  animation-duration: var(--anim-dur);
}

.navbar {
  text-decoration: none;
  position: fixed;
  z-index: 1;
  font-size: 43px;
  font-family: skyer;
  margin-top: 22px;
  right: 20px;
  transition: 0.5s;
  animation: fadeInRight;
  animation-duration: var(--anim-dur)
}

.githublogo {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}

#main {
  transition: 0.5s;
  position: fixed;
  right: 10px;
  top: 18px;
  z-index: -10;
  opacity: 0;
}

#navbarwrapper {
  position: absolute;
  top: 0;
  z-index: 10;
  transition: 0.5s;
}

body {
  overflow-x: hidden;
}

/* SCREEN SIZE ADAPTIONS */
@media screen and (max-width: 2260px) {
  .navbar {
    font-size: 40px;
    margin-top: 28px;
  }
}

@media screen and (max-width: 2146px) {
  .navbar {
    font-size: 35px;
    margin-top: 31px;
  }
}

@media screen and (max-width: 1922px) {
  .navbar {
    font-size: 30px;
    margin-top: 34px;
  }

  .title {
    font-size: 46px;
    margin-top: 24px;
  }

}

@media screen and (max-width: 1662px) {
  .navbar {
    font-size: 25px;
    margin-top: 38px;
  }
}

@media screen and (max-width: 1524px) {
  .navbar {
    font-size: 23px;
    margin-top: 38px;
  }
}

@media screen and (max-width: 1418px) {
  .title {
    font-size: 42px;
    margin-top: 27px;
  }
}

@media screen and (max-width: 1375px) {
  .navbar {
    z-index: -10;
    opacity: 0;
    visibility: hidden;
  }
  #main {
    z-index: 10;
    opacity: 1;
    top: 26px;
  }
}

@media screen and (max-width: 537px) {
  .title {
    font-size: 30px;
    margin-top: 38px;
  }

  .openbtn {
    width: 50px !important;
    height: auto;
  }

  #main {
    top: 37px;
  }
}

@media screen and (max-width: 400px) {
  .bar {
    height: 73px;
  }

  .orangebar {
    margin-top: 57px;
  }

  #main {
    top: 72px;
  }

  .title {
    margin-top: 14px;
    font-size: 34px;
    left: 20px;
  }

  .openbtn {
    background-color: rgba(252, 110, 0, 1);
    padding: 5px 4px !important;
  }
}

@media screen and (max-width: 370px) {
  .title {
    font-size: 26px;
    margin-top: 18px;
  }
}

@media screen and (max-width: 288px) {
  .title {
    font-size: 19px;
    margin-top: 22px;
  }

  .openbtn {
    width: 40px !important;
  }
}

/* SCREEN SIZE ADAPTIONS */

/* BLENDER PROJECTS */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

h4 {
  color: rgb(132, 174, 230);
  font-family: oxygen-light;
  font-size: 40px;
}

.imageLinks {
  text-decoration: none;
}

p {
  font-family: oxygen-light;
  font-size: 30px;
}

.row {
  margin: 10px -16px;
}

.row,
.row>.column {
  padding: 8px;
}

.column {
  float: left;
  width: 33.33%;
  display: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: rgb(241, 240, 240);
  padding: 10px;
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.myBtnContainerCSS {
  z-index: -1;
  margin-top: 111px !important;
  position: absolute;
  right: 10px;
}

.tabImages {
  z-index: -1;
  height: auto;
  width: 124px;
}

.galleryWrapper {
  margin-top: 150px !important;
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 1331px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 840px) {
  .column {
    width: 100%;
  }
}

@media screen and (max-width: 438px) {
  .galleryWrapper {
    margin-top: 150px;
  }
}

/* BLENDER PROJECTS */

/* GITHUB IMAGE COLUMNS*/
.githubrow {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

.wrapperfort2 {
  margin-top: 99px;
}

.wrapperformacose {
  margin-top: 99px;
}

.wrapperforsc {
  margin-top: -8px;
}

.githubcolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.trinketcolumn {
  width: 25vw;
  margin-top: 0px;
}

.githubcolumn {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
}

@media screen and (max-width: 1200px) {
  .githubcolumn {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .trinketcolumn {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .wrapperformacose {
    margin-top: 20px;
  }

  .trinketcolumn {
    margin-top: 20px;
  }

  .wrapperforsc {
    margin-top: 20px;
  }
}

/* GITHUB IMAGE COLUMNS */

/* VIDEO COLUMNS
.videocolumn{
  padding: 0 4px;
  margin-top: 100px;
  position: absolute;
  z-index: -1;
}

.videocolumn video {
  margin-top: 8px;
  width: 50%;
}

.videocolumn img {
  margin-top: 8px;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .videocolumn video{
    width: 100%;
  }
  .videocolumn img{
    width: 100%;
  }
}
VIDEO COLUMNS */



/* MODAL */
.modaltext {
  font-size: 25px;
  color: #333333;
}

/* MODAL */


/* MENU SIDEBAR CSS */
.sidebar {
  /* The sidebar menu */
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Stay on top */
  background-color: rgba(252, 110, 0, 0.9);
  /* Black*/
  overflow: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
  left: 0px;
  top: 0px;
  bottom: 0px;
}

.sidebar a {
  /* The sidebar links */
  padding: 8px 8px 8px 32px;
  font-family: skyer;
  text-decoration: none;
  font-size: 30px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  overflow: hidden;
}

.sidebar a:hover {
  /* When you mouse over the navigation links, change their color */
  color: #000000;
}

.sidebar .closebtn {
  /* Position and style the close button (top right corner) */
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  z-index: 100;
}

.openbtn {
  /* The button used to open the sidebar */
  cursor: pointer;
  padding: 5px 5px;
  z-index: 10;
  width: 80px;
  height: auto;
  border-radius: 2px;
  transition: 0.5s;
  animation: fadeInLeft;
  animation-duration: var(--anim-dur);
}

.openbtn:hover {
  /* Button color when hovering*/
  background-color: rgba(252, 110, 0, 0.5);
  transition: 0.5s;
}

@media screen and (max-height: 450px) {

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

/* MENU SIDEBAR CSS */

/* TECH BLOGS CSS */
.blogs {
  position: relative;
  margin-top: 70px;
  margin-left: -40px;
  margin-right: 80px;
  animation-duration: var(--anim-dur);
}

.blogtext {
  font-size: 30px;
  font-family: Open-Sans;
  color: black;
  margin-left: 60px;
  transition: 0.2s;
}

.code {
  font-size: 30px;
  font-family: B612-Mono;
  color: white;
  background-color: rgba(30, 30, 30, 0.9);
  border-radius: 8px;
  margin-left: 60px;
  transition: 0.2s;
  padding: 10px;
}

.photocaption {
  font-size: 20px;
  font-family: oxygen-light;
  color: gray;
  margin-left: 150px;
  margin-top: 10px;
  transition: 0.2s;
}

.blogdate {
  font-size: 30px;
  font-family: Open-Sans;
  color: black;
  margin-left: 60px;
}

.bloglink {
  font-size: 30px;
  font-family: Open-Sans;
  color: rgb(106, 185, 255);
  transition: 0.2s;
}

.bloglink-wrapper {
  margin-left: 60px;
}

.bloglink:hover {
  background-color: rgba(184, 184, 184, 0.25);
}

.blogtitle {
  font-size: 50px;
  font-family: Open-Sans;
  color: black;
  margin-left: 60px;
}

.blogimage {
  width: calc(50vw + 250px);
  height: auto;
  margin-left: 22px;
}

@media screen and (max-width: 900px) {
  .blogtext {
    font-size: 25px;
  }

  .bloglink {
    font-size: 20px;
  }

  .blogtitle {
    font-size: 40px;
  }

  .blogdate {
    font-size: 20px;
  }

  .code {
    font-size: 20px;
  }

  .photocaption {
    font-size: 15px;
  }
}

@media screen and (max-width: 650px) {
  .blogtext {
    font-size: 20px;
  }

  .blogtitle {
    font-size: 30px;
  }

  .code {
    font-size: 13px;
  }

  .blogs {
    margin-left: 0px;
    margin-right: 30px;
  }

  .photocaption {
    font-size: 10px;
  }
}

/* MAIN PAGE */
.maincontent-wrapper {
  margin-top: 107px;
  margin-left: 12.207vw;
  margin-right: 12.207vw;
}

/* Add padding BETWEEN each column (if you want) */
.mainrow,
.mainrow>.maincolumn {
  padding: 8px;
}

.mainrow p {
  color: white;
}

.mainrow h3 {
  color: white;
}

/* Create four equal columns that floats next to each other */
.maincolumn {
  float: left;
  width: 50%;
  border-radius: 8px;
}

/* Clear floats after rows */
.mainrow:after {
  content: "";
  display: table;
  clear: both;
}

/* Spacing Wrapper */
.spacing-wrapper {
  margin-top: 10px;
}

/* Content */
.maincontent-wrapper2 {
  padding: 10px;
}

.maincontent {
  background-color: rgba(129, 129, 129, 0.219);
  padding: 10px;
  border-radius: 8px;
  font-family: oxygen-light;
  color: white;
  animation: fadeInDown;
  animation-duration: var(--anim-dur);
}

.maincontent p {
  font-family: oxygen-light;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 7px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.maincontent attr {
  font-family: oxygen-light;
  font-size: 15px;
  color: gray;
}

.maincontent more {
  font-family: oxygen-light;
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  .maincolumn {
    width: 100%;
  }

  .maincontent-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }

  .maincontent p {
    font-size: 30px;
  }

  .maincontent attr {
    font-size: 13px;
  }

  .maincontent more {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .maincolumn {
    width: 100%;
  }

  .maincontent-wrapper {
    margin-left: 1px;
    margin-right: 1px;
  }

  .maincontent p {
    font-size: 25px;
  }

  .maincontent attr {
    font-size: 10px;
  }

  .maincontent more {
    font-size: 13px;
  }
}

@media screen and (max-width: 400px) {
  .maincontent p {
    font-size: 20px;
  }
}

/* COOKIES */
#cookie-banner {
  z-index: 999999;
  transition: 1s;
	position: fixed;
	bottom: 40px;
	left: 10%;
  right: 10%;
  width: 80%;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

#cookie-banner p {
  font-size: 20px;
}

#close {
  transition: 1s;
  height: 20px;
  background-color: #777;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

