* {
    box-sizing: border-box;
    overflow: auto;
  }

body {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

p {
    color: blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

#row1 {
    padding: 10px;
    clear:both
}

.grid-container {
    display: flex;
    grid-template-columns: 60px 60px;
    padding: 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
  }

.grid-container div {
    margin: 5px;
}
  
.grid-container > div {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 20px;
}

#FuncRow {
    margin-left: 0px;
}

#NumRow {
    margin-left: 65px;
}

#TopRow {
    margin-left: 80px;
}

#HomeRow {
    margin-left: 60px;
}

#BottomRow {
    margin-left: 80px;
}

#SpaceRow {
    margin-left: 80px;
}