:root {
}
@font-face {
	font-family: 'Hubot';
	src: url('/fonts/Mona-Sans.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'Mona';
	src: url('/fonts/Hubot-Sans.woff2') format('woff2');
	font-display: swap;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	overflow-x: hidden;
	line-height: 1.7;
}