---
import Layout from "@/layouts/BlogPost.astro";
import MeteorShower from "@/components/MeteorShower.astro";
---

<div class="-z-10 absolute">
	<!-- Dark Theme: Twinkling Stars / Metors -->
	<div id="galaxy" class="fixed inset-0">
		<div class="invert dark:invert-0">
			<MeteorShower />
		</div>
	</div>
	<div class="absolute inset-0 block dark:invert">
		<div id="particles1" class="fixed inset-0"></div>
		<div id="particles2" class="fixed inset-0"></div>
		<div id="particles3" class="fixed inset-0"></div>
	</div>
	<script is:inline src="/js/bg.js"></script>
</div>
<Layout title="About Me" description="Lorem ipsum dolor sit amet">
	<p>
		I am a "full stack developer", capable of designing or even reverse
		engineering (hardware and software) a board with a wide array of
		microcontrollers (RTOSs), FPGAs, and microprocessors (Linux Kernel dev),
		and other complex circuitry (power delivery networks, GHz/THz RF designs
		and simulations, high speed signaling [PCIe 4.0, USB 3.2, Gigabit
		Ethernet]), writing embedded software, integrating into larger
		industrial and consumer systems, and developing higher level software
		all the way up to web full stack development + deployment. I can also
		design with various CAD software for mechanical and electrical systems.
	</p>
	<p>
		I also strive to create the best UI/UX possible, integrating assets
		through my skills in image/video editing (Davinci Resolve + PS + AI), 3D
		graphics and animation (Blender), focusing on creating elegant yet
		minimal user-interfaces. Beyond design, I am also experienced in
		manufacturing (high-speed 3D printing, multi-axis CNC milling, laser
		cutting, etc.).
	</p>
	<p>
		And of course, <a href="https://murexrobotics.com" target="_blank" class="bold italic text-neutral-100">attempt the impossible.</a>
	</p>
</Layout>
