---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-neutral-900">
		<Header />
		<main class="flex items-center min-h-screen">
			<div class="pl-12">
				<h1 class="text-slate-100 font-[Hubot] font-black text-9xl italic">
					Hello, I'm Byran _
				</h1>
				<div class="flex gap-8 py-3 text-slate-100 font-[Mona] text-3xl font-normal subpixel-antialiased italic pl-2">
					<a href="#electrical_engineering" class="group transition duration-300 ease-in-out">
						Electrical Engineering
						<span class="block max-w-0 group-hover:max-w-full ease-in-out transition-all duration-300 h-0.5 bg-slate-100"></span>
					</a>
					<a href="#embedded_software" class="group transition duration-300 ease-in-out">
						Embedded Software
						<span class="block max-w-0 group-hover:max-w-full ease-in-out transition-all duration-300 h-0.5 bg-slate-100"></span>
					</a>
					<a href="#front-end_dev" class="group transition duration-300 ease-in-out">
						Front-End Dev
						<span class="block max-w-0 group-hover:max-w-full ease-in-out transition-all duration-300 h-0.5 bg-slate-100"></span>
					</a>
					<a href="#3d_graphics" class="group transition duration-300 ease-in-out">
						3D Graphics
						<span class="block max-w-0 group-hover:max-w-full ease-in-out transition-all duration-300 h-0.5 bg-slate-100"></span>
					</a>
				</div>
			</div>
		</main>
		<section class="min-h-screen" id="electrical_engineering">
			<h1 class="text-slate-100 font-[Hubot] font-black text-9xl italic">
				Electrical Engineering
			</h1>
		</section>
		<section class="min-h-screen" id="embedded_software">

			<h1 class="text-slate-100 font-[Hubot] font-black text-9xl italic">
				Embedded Software
			</h1>
		</section>
		<section class="min-h-screen" id="front-end_dev">

			<h1 class="text-slate-100 font-[Hubot] font-black text-9xl italic">
				Front-End Development
			</h1>
		</section>
		<section class="min-h-screen" id="3d_graphics">

			<h1 class="text-slate-100 font-[Hubot] font-black text-9xl italic">
				3D Graphics
			</h1>
		</section>
		<Footer />
	</body>
</html>
