---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="w-screen fixed top-0 flex justify-center items-center">
	<nav class="border-slate-700 border w-[400px] h-8 rounded-3xl backdrop-blur-sm bg-neutral-800 bg-opacity-50 my-5 px-3 flex items-center">
		<a href="" class="px-3"><img src={"/logo.svg"} alt="Logo" class="w-7" /></a>
		<ul class="text-slate-100 w-full flex justify-between gap-8 italic text-sm px-5">
			<li>
				<a href="">About</a>
			</li>
			<li>
				<a href="">Blog</a>
			</li>
			<li>
				<a href="">GitHub</a>
			</li>
			<li>
				<a href="">LinkedIn</a>
			</li>
		</ul>
	</nav>
</header>