---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!doctype html>
<script>
	var cursor = document.getElementById("cursor");
	document.body.addEventListener("mousemove", function (e) {
		//storing cursor position as variables
		var curX = e.clientX;
		var curY = e.clientY;
		if (cursor) {
			cursor.style.opacity = "1";
			if (cursor.classList.contains("hover")) {
				cursor.style.transform =
					"translate(" + (curX - 30) + "px," + (curY - 30) + "px)";
			} else {
				cursor.style.transform =
					"translate(" + (curX - 27) + "px," + (curY - 27) + "px)";
			}
		}
	});

	window.onblur = function () {
		if (cursor) {
			cursor.style.display = "none";
		}
	};
	window.onfocus = function () {
		if (cursor) {
			cursor.style.display = "block";
		}
	};

	const links = document.querySelectorAll("a, .clickable");

	// Custom cursor change style on hover links
	for (let x of links) {
		x.addEventListener("mouseenter", () => {
			if (cursor) {
				cursor.classList.add("hover");
			}
		});

		x.addEventListener("mouseleave", () => {
			if (cursor) {
				cursor.classList.remove("hover");
			}
		});
	}
</script>

<html lang="en">
	<head>
		<BaseHead />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
		</style>
	</head>

	<body class="bg-neutral-900">
		<div class="invertedcursor" id="cursor"></div>
		<Header />
		<main>
			<article class="mt-24 min-h-screen">
				<div class="hero-image">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div class="prose prose-invert">
					<h1 class="animate text-neutral-200 text-7xl font-[Hubot] italic m-0">{title}</h1>
					<div class="date animate pt-5">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<hr class="animate border-neutral-700 my-5" />
					<div class="animate">
						<slot />
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
